<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.houserentalsystem.mapper.HouseTagMapper">
    
    <insert id="insertBatch">
        INSERT INTO house_tag (house_id, tag_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.houseId}, #{item.tagId})
        </foreach>
    </insert>
    
    <delete id="deleteByHouseId">
        DELETE FROM house_tag WHERE house_id = #{houseId}
    </delete>
    
    <delete id="deleteByHouseAndTag">
        DELETE FROM house_tag 
        WHERE house_id = #{houseId} AND tag_id = #{tagId}
    </delete>
    
    <select id="findTagIdsByHouseId" resultType="java.lang.Long">
        SELECT tag_id FROM house_tag WHERE house_id = #{houseId}
    </select>
</mapper>